/* The container for your buttons, images will be on top */
.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.link-image {
  position: absolute;
  width: 20vw;           /* Responsive width */
  max-width: 20vw;      /* Prevent oversized buttons */
}

@media screen and (min-width: 480px) {
  .about-btn {
    top: 2vh;
    left: 2vw;
  }

  .origin-btn {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .play-btn {
    bottom: 2vh;
    right: 2vw;
  }
}


@media screen and (max-width: 479px) {
  .link-image {
    position: static;
    display: block;
    margin: 5vh auto;
    width: 40vw;
    max-width: 120px;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5vh 0;
  }
}

/* Canvas container (scratch card) is behind images */
#canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10; /* Canvas below the images */
  pointer-events: none;
}

/* Optional: Apply to the canvas if needed */
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}





